/** ------- HOME ------- **/
@use'../../abstracts/mixins' as *;
@use'../../abstracts/colors' as *;
@use'../../base/typography' as *;


// HERO BANNER
.hero-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text-box{
        padding: 3rem;
        position: absolute;
        left: 50%;
        background-color: $bg-card-hero;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 443px; 
        width: 643px;

        p:first-child{
            color: $text-dark;
            font-size: $NavigationHeaderText;
            font-family: $PoppinsSemiBold;
            text-transform: capitalize;
        }

        h1{
            text-transform: capitalize;
            font-family: $PoppinsBold;
            font-size: $TitleBanner;
            color: $accent-gold;
        }

        p:nth-child(3){
            color: $text-dark;
            font-size: $DescriptionCardBanner;
            font-family: $PoppinsMedium;
            padding-bottom: 2rem;
        }
    }
}

// CATEGORY SECTION
.category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        h2{
            font-family: $PoppinsBold;
            font-size: $SectionBrowseTitle;
            color: $text-dark;
        }
        h2::first-letter{
            text-transform: uppercase;
        }

        p{
            font-family: $PoppinsRegular;
            font-size: $SectionBrowseDescripton;
            color: $text-medium;
        }

        p::first-letter{
            text-transform: uppercase;
        }
    }

    .cards-category{
        display: flex;
        flex-direction: row;
        gap: 1rem;

        .cards{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        p{
            font-family: $PoppinsSemiBold;
            font-size: $SectionBrowseCardTxt;
            color: $text-dark;    
        }
        p::first-letter{
            text-transform: uppercase;
        }
    }
}

// CATEGORY PRODUCTS
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        h2{
            color: $text-title-secondary;
            font-size: $SectionProductsTitle;
            font-family: $PoppinsBold;
        }
        h2::first-letter{
            text-transform: uppercase;
        }
    }

    .cards-products{
        display: flex;
        width: 1260px;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        gap: 2.5rem;
    }
}

// CATEGORY INSPIRATION ROOMS
.rooms{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2.5rem;
    background-color: $backgroundColor-Inspiration;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title{
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-right: 1rem;
        
    
        h2{
            color: $ColorTxtPriceCardsProduct;
            font-size: $SectionInspirationTitle;
            font-family: $PoppinsBold;
        }

        p{
            color: $text-title-secondary;
            font-size: $SectionInspirationDescription;
            font-family: $PoppinsMedium;
        }

        p::first-letter{
            text-transform: uppercase;
        }
    }

    .pictures{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

// CATEGORY FURNITURE
.furniture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    width: 100%;

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5rem;

        p{
            font-size: $SelectionFurnitureDescription;
            font-family: $PoppinsSemiBold;
            color: $text-description-extra;
        }

        p::first-letter{
            text-transform: uppercase;
        }

        h2{
            font-size: $SelectionFurnitureTitle;
            font-family: $PoppinsBold;
            color: $ColorTxtPriceCardsProduct;
        }
    }

    .library{
        display: flex;
        align-items: center;
        gap: 2rem;

        .container-pictures{
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .row{
            display: flex;
            
            align-items: center;
            gap: 2rem
        }
    }
}