/** ---------------------- COLORS ---------------------- **/
// Couleurs principales
$body-default : #FFFFFF;

// Logo entreprise
$color-black: #000000;
// Texte bouton "Buy Now" et "Explore Now"
$color-white: #FFFFFF;

// Background Btn More Show 
$btn-more : #FFFFFF;

// Background Btn More Explore 
$btn-explore : #FFFFFF;

// Txt Btn Form Newsletter
$btn-form : #000000;

//Background Btn Newsletter
$btnFormNewsletter : #FFFFFF;

// Couleurs background
//Header
$bg-header : #FFFFFF;

// Fond des cartes dans la section Hero Banner
$bg-card-hero: #FFF3E3;

// Background Cards Products Section
$bg-cards-productions: #F4F5F7; 
// Couleurs de texte
// Texte cartes Hero + titre section 1 + sous-titre carte
$text-dark: #333333;
// Description section
$text-medium: #666666; 
// Titres autres sections + titre carte 
$text-title-secondary: #3A3A3A;

//Price Color Txt
$ColorTxtPriceCardsProduct : #3A3A3A;

// Description carte
$text-description-card: #898989;
// Description "Beautiful rooms" + "Furniture"
$text-description-extra: #616161;
// Adresse footer + titre catégorie footer
$text-footer: #9F9F9F;

// Couleurs accent
// Bouton "Show more" (background) + titre banner
$accent-gold: #B88E2F;
// Prix barré
$price-strikethrough: #B0B0B0;

//Background Color Section Inspiration
$backgroundColor-Inspiration :  #FCF8F3;

// Liste Footer
$FooterListeColor : #000000;
/** ---------------------- FONT SIZE ---------------------- **/
$SizeLogo: 34px;
$NavigationHeaderText: 16px;
$TitleBanner: 52px;
$DescriptionCardBanner: 18px;
$BtnPrimaryBanner: 16px;
$BtnSecondaryMore: 16px;
$BtnTertiaryExplore: 16px;
$SectionBrowseTitle : 32px;
$SectionBrowseDescripton : 20px;
$SectionBrowseCardTxt : 24px;
$SectionProductsTitle: 40px;
$SectionProductsCardsTitle : 24px;
$SectionProductsCardsDescription : 16px;
$SectionProductsCardsPrice : 20px;
$SectionProductsCardsPriceOffers : 16px;
$SectionInspirationTitle : 40px;
$SectionInspirationDescription : 16px;
$SelectionFurnitureDescription : 20px;
$SelectionFurnitureTitle : 40px;
$FooterLogo : 24px;
$FooterAdress : 16px;
$FooterLinks : 16px;
$FooterCopyright : 16px;
$FooterCtaForm : 14px;
/** ---------------------------------------------------- **/